
.gs-genre-general-container {
    background: #060d1df2;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 2% 0;
}

.gs-genre-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 5px 5px 0;
    color: whitesmoke;
}

.gs-genre-item {
    cursor: pointer;
    width: 120px;
    text-align: center;
    color: #868686;
    font-family: Montserrat, serif;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.gs-border-red{
    padding-bottom: 1em;
    border-bottom: 2px solid red;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.gs-border-white {
    padding-bottom: 1em;
    border-bottom: 2px solid white;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.gs-genre-item-selected {
    color: whitesmoke;
    font-weight: 800;
}

.gs-separator-line {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    border: 0;
}

.gs-genre-sortby {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gs-select-sorby {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    padding: 5px 0;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-family: inherit;
    transition: all 0.3s ease;
    background-position: right center;
    background-size: 20px;
}

.gs-span-sortby{
    color: rgb(128, 128, 128);
    font-size: .8rem;
}
